* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 250px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid grey;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card:hover {
    border-color: blue;
}

.card h2 {
    margin-bottom: 10px;
}